# Pin assignment for LEDs
NET "count<7>" LOC = "G1" ; # Bank = 3, Signal name = LD7
NET "count<6>" LOC = "P4" ; # Bank = 2, Signal name = LD6
NET "count<5>" LOC = "N4" ;  # Bank = 2, Signal name = LD5
NET "count<4>" LOC = "N5" ;  # Bank = 2, Signal name = LD4
NET "count<3>" LOC = "P6" ; # Bank = 2, Signal name = LD3
NET "count<2>" LOC = "P7" ; # Bank = 3, Signal name = LD2
NET "count<1>" LOC = "M11" ; # Bank = 2, Signal name = LD1
NET "count<0>" LOC = "M5" ;  # Bank = 2, Signal name = LD0

NET "reset" LOC = "A7";  # Bank = 1, Signal name = BTN3
NET "sw_asyn" LOC = "G12"; # Bank = 0, Signal name = BTN0

# clock pin for Basys2 Board
NET "clk" LOC = "B8"; # Bank = 0, Signal name = MCLK